// @media all and (min-width: 480px) {
  .loginContainer{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginForm {
    margin: 3rem auto;
    width: 320px;
    border: solid lightgrey 1px;
    border-radius: 1em;

    .loginHeader{
      border-radius: 1em 1em 0 0;
      padding: 1em;
      background-color: lightblue;
    }
    .loginBody{
      padding: 1em;
    }
  }
// }